* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.logo {
  position: absolute;
  top: 12px;
  left: 20px;
}

.displ {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  gap: 40px;
  width: 100%;
  flex: 1;
  padding-top: 0px;
}

.info {
  flex: 1;
  text-align: center;
  padding-top: 20px;
}

.info p {
  margin-left: 110px;
  line-height: 1.5;
  font-size: 32px;
  margin-top: 50px;

}

#write {
  background: linear-gradient(to right, orange, red, purple);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blank {
  width: 530px;
  background-color: white;
  padding: 70px 40px;
  border-left: 2px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.join p {
  margin-bottom: 12px;
  font-size: 16px;
}

.join label {
  display: none;
}

.join input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  margin-bottom: 12px;
  font-size: 14px;
  background-color: #fff;
}

.login {
  width: 100%;
  height: 40px;
  border-radius: 25px;
  border: none;
  background-color: rgb(0, 136, 244);
  color: white;
  margin-bottom: 6px;
  cursor: pointer;
}

.forget {
  display: block;
  width: 100%;
  background: transparent;
  border: none;
  color: #1c1e21;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 40px;
}

.forget:hover {
  text-decoration: underline;
}

.other {
  height: 40px;
  border: 1px solid #dbdbdb;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.other a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #1c1e21;
  font-size: 14px;
}

.create {
  width: 100%;
  height: 40px;
  border-radius: 25px;
  background-color: white;
  border: 1px solid rgb(0, 136, 244);
  color: rgb(0, 136, 244);
  cursor: pointer;
  margin-bottom: 12px;
}

.meta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.last {
  width: 100%;
  border-top: 1px solid #dbdbdb;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  color: gray;
}

.link a {
  margin: 6px;
  color: gray;
  text-decoration: none;
}

.llast {
  margin-top: 10px;
}
